<input data-ng-model="storyboard" type="number"placeholder="Enter board nunber"><br>
<input data-ng-model="storyname" type="text" placeholder="Enter name for new story"><br>
<select data-ng-model="storypoint">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
</select><br>
<textarea data-ng-model="storydescription" rows="5" cols="16"></textarea><br>
<button data-ng-click="submit()" id="btnStory" class="btn btn-default">Create</button>
