<head>
<link href="resources/css/style.css" type="text/css" rel="stylesheet" />
</head>
<div data-ng-include src="'resources/features/navbar/scrumNavbar.html'"></div>

<div class="container">
	<div class="jumbotron">
		<h2 class="text-center" id="boardName">JAR'B Scrum Board:
			{{boardDetail.boardName}}</h2>
	</div>

	<button style="float: right;" type="button" class="btn btn-primary"
		data-ng-show="isScrumMaster"
		data-ng-click="addAStory(boardDetail.boardId)">Add a Story</button>
	<button style="float: right;" type="button" class="btn btn-primary"
		data-ng-show="isScrumMaster" data-ng-click="addUser()">Add a
		User</button>
	<button style="float: right;" type="button" class="btn btn-primary"
		data-ng-show="isScrumMaster" data-ng-click="displayChart()">View
		Chart</button>
	<br> <br>
	<div class="row">
		<div data-ng-repeat="lane in lanes" class="col-xs-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{lane.ltName}}</h3>
				</div>

				<div class="panel-body">
					<div data-ng-repeat="story in filterAllStoriesByLane(lane.ltId)"
						style="border-top: solid">
						<a style="float: left" data-ng-hide="$parent.$first"
							data-ng-click="moveStory(story.story)"> <span
							class="glyphicon glyphicon-triangle-left"></span>
						</a> <span class="label label-default">Points
							{{story.storyPoints}}</span> <a style="float: right"
							data-ng-hide="$parent.$last"
							data-ng-click="moveStory(story.story)"> <span
							class="glyphicon glyphicon-triangle-right"></span>
						</a> <br /> <span>{{story.storyDesc}}</span>

						<div class="checkbox" data-ng-repeat="task in story.task">
							<label> <input type="checkbox"
								data-ng-model="task.status" data-ng-true-value="1"
								data-ng-false-value="0" data-ng-change="updateTask(task)">{{task.description}}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>