<div data-ng-include src="'resources/features/navbar/scrumNavbar.html'"></div>
<label>Board ID&emsp;&emsp;Board Name</label><p>
<label>{{boardDetail.boardId}}&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;{{boardDetail.boardName}}</label>
<p>
<label>Story ID&emsp;&emsp;Story Name&emsp;&emsp;Points&emsp;&emsp;Lane&emsp;&emsp;&emsp;Description</label>
<div class="item" data-ng-repeat="story in boardDetail.story" >
	<label>{{story.story}}&emsp;&emsp;&emsp;
		   {{story.storyName}}&emsp;&emsp;&emsp;
		   {{story.storyPoints}}&emsp;&emsp;&emsp;&emsp;
		   {{story.laneType.ltName}}&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
		   {{story.storyDesc}}
	</label><p>
		<label>&emsp;&emsp;&emsp;Task ID&emsp;&emsp;Description</label>
		<div class="item" data-ng-repeat="task in story" >
			<label>&emsp;&emsp;&emsp;{{task.taskId}}&emsp;&emsp;&emsp;
				   {{task.description}}
			</label><p>
		</div>
</div>