<head>
	<link href="resources/css/style.css" type="text/css" rel="stylesheet" />
</head>
<div data-ng-include src="'resources/features/navbar/scrumNavbar.html'"></div>

<h1>Move Story</h1>
<br>
<h4>Lane Type</h4>
<select data-ng-model="storylane">
	<!-- <option data-ng-repeat="lane in lanes" value="{{lane.ltId}}">{{lane.ltName}}</option> -->
	
	<!-- 
1 Backlog
2	To Do
3	In Progress
4	Test
5	Verify
6	Done
	
-->
	<option data-ng-show="isScrumMaster" value="1">Backlog</option>
	<option data-ng-show="isQA"  value="2">To Do</option>
	<option data-ng-show="isDev" value="3">In Progress</option>
	<option data-ng-show="isDev" value="4">Test</option>
	<option data-ng-show="isQA" value="5">Verify</option>
	<option data-ng-show="isQA" data-ng-hide="isDev" value="6">Done</option>
</select>
<br>
<button data-ng-click="submit()" class="btn btn-default">Move</button>
