<div data-ng-controller="navbarController">
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid" >

			<div class="row" >
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" onmouseover="" style="cursor: pointer;" data-ng-click="home()">JAB'R!</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
 +				        <li class="dropdown">
 +				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Boards <span class="caret"></span></a>
 +				          <ul class="dropdown-menu">
 +				            <li><a id="boardInfo" href="boardInfo" id="navbarContent">Board Info</a></li>
 +				            <li><a id="displayBoard" href="displayBoard" id="navbarContent">Display all boards</a></li>
 +				          </ul>
 +				        </li>
 +				      </ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a onmouseover="" style="cursor: pointer;"  data-ng-click="listBoards()">List Boards</a></li>
						<li><a onmouseover="" style="cursor: pointer;"  data-ng-show="isScrumMaster" data-ng-click="addABoard()">Add a Board</a></li>
						<li><a onmouseover="" style="cursor: pointer;"  data-ng-show="isScrumMaster" data-ng-click="">Add a Story</a></li>
						<li><a onmouseover="" style="cursor: pointer;"  data-ng-show="isScrumMaster" data-ng-click="">Add a User</a></li>

						<li><a onmouseover="" style="cursor: pointer;" data-ng-click="logout()">Logout</a></li>
							<ul class="dropdown-menu">
								<li><a data-toggle="collapse"
									data-target=".navbar-collapse" ui-sref="main.adminPoi">admin1</a></li>
								<li><a data-toggle="collapse"
									data-target=".navbar-collapse" ui-sref="main.adminUsers">admin2</a></li>

							</ul></li>

						<li><a href="/Project2/">Logout</a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>
</div>
